<%= form_for(provaider) do |f| %>
  <% if provaider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provaider.errors.count, "error") %> prohibited this provaider from being saved:</h2>

      <ul>
      <% provaider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
